/* Color */

:root {
  /* Primary */
  --sunrise: rgb(255, 98, 41); /* Primary call to action color */
  --sky: #129fe6; /* Secondary call to action color */
  --white: whitesmoke;
  --gray: rgb(194, 194, 194);
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

body {
  background: var(--white);
  font-family: ubuntu;
  letter-spacing: 0.03rem;
}

.light-blue {
  color: var(--sky);
}

/* Login */

.login-form {
  display: flex;
  flex-direction: column;
  margin: 8rem auto 0 auto;
}

.auth-input {
  margin-top: 1rem;
  color: var(--sky);
  font-weight: 800;
  height: 2rem;
}

.auth-input input {
  border-radius: 2px;
}

.login-form button {
  border: 3px solid var(--sky);
  border-radius: 20px;
  background: white;
  width: 10rem;
  margin: 2rem auto;
}

/* Navbar */

.navbar {
  background-color: var(--sky);
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.navbar h1 {
  font-family: 'Lobster';
  letter-spacing: 0.2rem;
  color: var(--sunrise);
  font-size: 2rem;
  display: flex;
  justify-self: center;
}

.navbar img {
  /* visibility: hidden; */
  width: 1.6rem;
  margin: 0 1rem;
}

.navbar a:hover {
  color: var(--gray);
  transition: color 0.5s ease-out;
}

.hidden {
  visibility: hidden;
}

.link-container {
  display: flex;
}

.auth-links {
  display: flex;
}

.auth-links a {
  margin: 0 15px;
  color: var(--white);
}

a {
  text-decoration: none;
}

b {
  color: var(--sky);
  font-size: x-large;
}

.App {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: whitesmoke;
}

/* Search */
.search-container {
  /* border: 2px solid var(--sky); */
  border-radius: 5px;
  width: 30%;
  margin-top: 1rem;
  margin: 5rem auto 1rem;
  background: white;
  padding: 2px;
}

.search-container i {
  color: var(--sky);
}

.search-container:hover {
  border: 3px solid var(--sky);
  transition: border 0.3s ease;
}

.search-input {
  width: 100%;
  color: black;
}

.search-inner-container {
  display: flex;
  color: black;
  align-items: center;
}

.content-container {
  text-align: left;
  margin: 0 20%;
}

/* Create and Sort */

.create-sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Create */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--sky);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: donut-spin 1.2s linear infinite;
}

#create-container {
  margin-top: 1rem;
  font-size: large;
  font-weight: 800;
  display: flex;
  background: var(--sunrise);
  padding: 0.3rem;
  border-radius: 5px;
  width: 10rem;
  height: 80%;
  color: white;
}

#create-container input {
  color: black;
}

#create-container:hover {
  color: white;
  background: var(--sunrise);
}

#create-container button:hover {
  color: var(--gray);
  transition: color 0.5s ease-out;
}

#create-container img:hover {
  transform: rotate(360deg);
  transition: transform 2s ease;
}
/* PostForm */

.postform-container {
  min-width: 50vw;
  background: white;
  color: var(--white);
  padding: 0.3rem;
  border-radius: 5px;
}

.postform-container h4 {
  margin-top: 2rem;
  color: var(--sky);
}

.postform-container input {
  color: black;
}

.postform-container textarea {
  color: black;
}

.create-post {
  display: flex;
  flex-direction: column;
}

.create-post label {
  margin-top: 0.8rem;
  color: var(--sunrise);
}

.create-post input {
  border: solid 2px var(--sky);
  border-radius: 5px;
}

.create-post textarea {
  border: solid 2px var(--sky);
  border-radius: 5px;
}

.dot {
  color: var(--sunrise);
  font-size: 2rem;
}

.dot:focus {
  outline: none;
}

#content {
  height: 5rem;
}

/* Sort  */

.sort-button {
  border-left: 2px solid var(--sky);
  margin: 1.8rem 1rem 0.5rem 1rem;
  padding: 0.8rem;
}

.sort-button:hover {
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  transition: padding 1s ease;
}

/* PostCard */

.full-post-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postcard-container {
  border-radius: 5px;
  background: white;
  padding: 0.8rem;
  border-bottom: 1px solid rgb(219, 219, 219);
  text-align: left;
  margin: 0.5rem 0;
  box-shadow: 3px 3px 3px 3px rgb(219, 219, 219);
}

.postcard-container:hover {
  box-shadow: 1px 1px 1px 1px rgb(219, 219, 219);
  transition: box-shadow 0.5s ease;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  font-size: small;
}

.card-vote-container {
  display: flex;
  align-items: center;
}

.post-content {
  width: 50rem;
}

.bottom-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.delete-save-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

.bin {
  height: 30px;
}

.bin:focus {
  outline: none;
}

.save {
  height: 50px;
}

.save:focus {
  outline: none;
}

.button {
  margin-top: 1rem;
  font-size: large;
  font-weight: 800;
  background: var(--sky);
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  width: 300px;
}

.arrow-container {
  display: flex;
  flex-direction: column;
}

.upvote {
  width: 33px;
  padding: 10px;
  margin: 20px;
}

.post-detail-container {
  margin-top: 0rem;
}

.post-content {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.post-link {
  color: var(--sunrise);
  font-size: 110%;
  padding-top: 2rem;
}

.bin-comments-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

.comments-container {
  margin-top: 2rem;
}

.comments-container h3 {
  color: var(--sunrise);
}

.comment-input {
  border: solid 2px var(--sky);
  border-radius: 5px;
}

.delete-save-container {
}

@media screen and (max-width: 800px) {
  * {
    font-size: 98%;
  }

  b {
    font-size: medium;
  }

  .navbar img {
    width: 0%;
    margin: 0;
  }

  .content-container {
    margin: 0 5%;
  }

  .navbar a {
    font-size: 0.9rem;
  }

  .navbar img {
    width: 0.9rem;
    margin: 0 1rem;
  }

  .search-container {
    width: 80%;
  }

  .create-sort-container {
    flex-direction: column-reverse;
  }

  .sort-button {
    border-left: 2px solid var(--sky);
    margin: 1.8rem 1rem 0.5rem 1rem;
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .post-content {
    width: 80%;
  }
  .upvote {
    width: 20px;
    padding: 5px;
    margin: 10px;
  }
  .bin {
    height: 20px;
  }
  .save {
    height: 32px;
  }
}

@media screen and (max-width: 600px) {
  .navbar img {
    visibility: hidden;
    width: 0;
    margin: 0;
  }
}
